[submodule "augs"]
	path = augs
	url = https://github.com/michaeldisanto1818/augs.git
[submodule "Autoencoders"]
	path = Autoencoders
	url = https://github.com/michaeldisanto1818/Autoencoders.git
[submodule "CIFAR10"]
	path = CIFAR10
	url = https://github.com/michaeldisanto1818/CIFAR10.git
[submodule "Edgefinder"]
	path = Edgefinder
	url = https://github.com/michaeldisanto1818/Edgefinder.git
[submodule "Norming"]
	path = Norming
	url = https://github.com/michaeldisanto1818/Norming.git
[submodule "Saving"]
	path = Saving
	url = https://github.com/michaeldisanto1818/Saving.git
[submodule "MNIST"]
	path = MNIST
	url = https://github.com/michaeldisanto1818/MNIST.git
